/* rgb(51, 178, 237);
 rgb(23, 40, 40); */
body, html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(23, 40, 40);
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(51, 178, 237);
    border-bottom: 5px dashed rgb(23, 40, 40);
}
img {
    width: auto;
    height: 6vh;
    margin: 0 0 0 20px;
}
.navLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navButton, #submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 40, 40);
    width: 8vw;
    height: 5vh;
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px dashed rgb(51, 178, 237);
    border-radius: 5px;
    margin: 0 2% 0 2%;
    cursor: pointer;
}
.navButton:hover {
    border-color: white;
}
.main {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 90vh;

}
.left, .right {
    display: flex;
    width: 40vw;
    height: 75vh;
    margin: 5vh 10vw 5vh 10vw;
    border: 5px dashed rgb(23, 40, 40);
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(51, 178, 237);
    box-sizing: border-box;
    padding: 2%;
}
p {
    text-align: right;
}
.inputs {
    width: 28vw;
    height: 5vh;
    border: 3px solid rgb(23, 40, 40);
    border-radius: 5px;
    margin-bottom: 3px;
    box-sizing: border-box;
    padding: 3%;
}
.regErrors, .logErrors {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    color: rgb(23, 40, 40);
    margin-top: 1%;
}